*{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 47px;
    margin: 50px 49px;
    background-color: #dcddecdf;
    border: none;
}

.inp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    border-radius: 2px;
    width: 23vw;
    height: 5vh;
    color: #040404b6;
    box-shadow: #31373873 3px 8px 8px 0px;
    padding: 7px;
    border: none;
}
input:focus{
    outline: none;
}

.duration-div{
    display: inline-flex;
    gap: 2vw;
}

.duration-div #durationStart, .inp #durationEnd{
    width: 10vw;
}

.btn{
    border-radius: 8px;
    padding: 12px 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(137 137 255);
    color: white;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(31, 31, 239);
    transition: 0.5;
    box-shadow: 1px 2px 4px 3px rgb(184, 184, 184);
}

.card-container{
    padding: 30px 25px;
    margin: 23px 30px 20px 0;
    border: 2px solid grey;
    border-radius: 22px;
    box-shadow: rgb(237 234 234 / 36%) -11px -13px 20px 3px;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-heading p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.card-span{
    display: flex;
    gap: 20px;
    margin: 12px 0 7px 0;
}

.card-span i {
    font-size: 28px;
    font-weight: 600;
    color: #919090de;
}

.card {
    display: flex;
    border: 2px solid black;
    gap: 10px;
    width: 650px;
    padding: 18px 3px 10px 20px;
    background: #201f1f;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.image {
    position: relative;
}

.image img {
    border-radius: 9px;
}

.image .capsule {
    position: absolute;
    bottom: 9px;
    z-index: 10;
    right: 5px;
    background: rgb(0 0 0 / 84%);
    opacity: 0.9;
    color: white;
    padding: 1px 3px;
    border-radius: 4px;
    font-size: 14px;
}

.text p:first-child {
    font-size: 23px;
    font-weight: 500;
}

.text p:last-child {
    margin: 10px 0 20px 0;
    font-size: 15px;
    color: #a7a7a7;
}